.button-group-wspc {    /*Button group*/
  display: flex;
  width: 30%;
  justify-content: space-around;
  font-weight: bold;
}

.wspc {     /*Div WpPic + buttongroup*/
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}



.btn-wspc{
    font-size: 18px;
}

.btn-wspc:hover{
    text-shadow: 2px 2px 8px #009688;

}